/*
	ALTRI CSS USATI MA NON PRESENTI QUI DENTRO SONO STATI PRESI DALLA POKEMON CENTRAL WIKI LINKANDO IL SEGUENTE COLLEGAMENTO:
	https://wiki.pokemoncentral.it/load.php?debug=false&lang=it&modules=site.styles&only=styles&skin=vector
	
	ALTRE INFO SUI CSS USATI DALLA PCW POSSONO ESSERE TROVATE QUI: https://wiki.pokemoncentral.it/Categoria:Aiuto
*/

/* CSS GENERALI USATI IN TUTTE LE PAGINE */


/* caratteristiche dei body (testo e colori) di tutte le pagine */
BODY {
	/* GRADIENTE SFONDO COLOR "ZAFFIRO-ALPHA" (POKEMON CENTRAL WIKI) */
	background-image: -moz-linear-gradient(left, #729ABF, #26649C);
	background-image: -webkit-linear-gradient(left, #729ABF, #26649C);
	background-image: linear-gradient(to right, #729ABF, #26649C);
	
	font-family: Verdana, Geneva, sans-serif;
	color: #011D3A;
}


/* caratteristiche per gli anchor di tutte le pagine */
A {
	color: #DFDFE1;
	text-decoration: none;
}


/* caratteristiche per la barra di navigazione stessa */
NAV {
	/*background-color: #002347;*/
	background-color: #011D3A;
	text-align: right;
    padding: 8px;
}


/* caratteristiche per gli elementi della barra di navigazione */
NAV LI {
    display: inline-block;
    margin: 0 8px;
    padding-top: 1px;
}


/* caratteristiche per il logo nella barra di navigazione */
.nav-logo {
	position: absolute;
    top: 20px; 
    left: 30px;
    overflow: hidden;
}


/* caratteristiche per il pulsante a forma di pokeball nella barra di navigazione */
.nav-pokeball {
	position: absolute;
    top: 32px; 
    right: 23px;
    overflow: hidden;
}


/* per dare un effetto di pressione per il pulsante a forma di pokeball nella barra di navigazione */
.nav-pokeball:active {
	transform: scale(0.8);
}


/* caratteristiche per i bordi completi arrotondati */
.bordo-arrotondato {
	border: 4px solid #011D3A;
	border-radius: 25px;
}
